.usefull__body {
     margin: 0 auto;
     display: grid;
     gap: 1rem;
     grid-template-columns: repeat(2, 1fr);
     padding: 0 170px;
     margin-top: 80px;
}

.usefull__title {
     padding-top: 50px;
     text-align: center;
     font-size: 1.4rem;
     font-weight: 500;
}

.usefull__title .linear {
     background: -webkit-linear-gradient(45deg,#81d7f6, #0028b9);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

}

.usefull__box {
     width: 500px;
     height: 180px;
     background-color: #0d182a;
     border-radius: 20px;
     padding: 20px 30px;
     box-shadow: inset -4px 4px 4px #14243f;
     margin-top: 30px;


}

.imageBox {
     position: absolute;
     background: url('../../images/ellpis.png') no-repeat center;
     background-size: cover;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: -80px;
     margin-top: -90px;

}

.box__title {
     font-weight: 700;
     font-size: 1.2rem;
     text-align: center;
}

.box__description {
     font-weight: 200;
     font-size: 1rem;
     margin-top: 20px;
     text-align: left;
}
@media screen and (max-width: 1380px){
     .usefull__body {
          margin: 0 auto;
          display: grid;
          place-items: center;
          gap: 1rem;
          grid-template-columns: repeat(1, 1fr);
          padding: 0 170px;
          margin-top: 80px;
          
          
     }
}
@media screen and (max-width: 768px){
     .usefull__body {
          padding: 0 50px;
          margin-top: 80px; 
     }
     .usefull__box{
          width: 100%;
          text-align: center;
          height: auto;
     }
     .usefull__title h2{
          font-size: 1rem;
     }
     .box__description{
          text-align: center;
          font-size: 0.7rem;
     }
     .box__title {
          font-weight: 600;
          font-size: 1rem;
          margin-top: 7px;
     }
     .imageBox{
          width: 100px;
          height: 100px;
          margin-left: -60px;
          margin-top: -60px;
     
          
     }
}